<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
</ion-header>

<ion-content>
  <ion-card class="card-sup-content">

    <ion-item class="mb-1" lines="none">
      <ion-icon name="ellipsis-vertical-outline" slot="end" color="dark" size="small">
      </ion-icon>
      <ion-card-subtitle class="subtitle">Nueva encuesta</ion-card-subtitle>
    </ion-item>

    <ion-card-content>
      <ion-card-title class="card-title mb-2">¿Qué opinas de la cancha de
        tenis?
      </ion-card-title>
      <ion-text>Completá la encuesta sobre la nueva cancha de tenis que innaguramos</ion-text>
    </ion-card-content>
  </ion-card>

  <ion-grid>

    <ion-row>
      <ion-col size="3" class="ion-no-padding">
        <ion-card style="width: 70px; height: 70px;" class="card-img">
          <img style="width: 100%; height: 100%;"
            src="https://www.comunidad.madrid/sites/default/files/styles/aspect_ratio_16_9_desktop/public/img/colectivos/shutterstock_614527325.jpg?itok=3gHDk3nn&timestamp=1542793017"
            alt="">
        </ion-card>
      </ion-col>

      <ion-col size="9" class="mt-2">
        <ion-grid>
          <ion-row>
            <ion-col size="12" class="ion-no-padding mb-2">
              <ion-text style="font-weight: 700; font-size: 18px;">Protocolos COVID-19</ion-text>
            </ion-col>
            <ion-col size="12" class="ion-no-padding">
              <ion-text style="font-size: 16px;">Salud</ion-text>
            </ion-col>

            <ion-col size="12" class="ion-no-padding">
              <ion-item class="ion-no-padding">
                <ion-text style="font-size: 16px; opacity: 50%;">Mira estas recomendaciones</ion-text>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3" class="ion-no-padding">
        <ion-card style="width: 70px; height: 70px;" class="card-img">
          <img style="width: 100%; height: 100%;"
            src="https://www.comunidad.madrid/sites/default/files/styles/aspect_ratio_16_9_desktop/public/img/colectivos/shutterstock_614527325.jpg?itok=3gHDk3nn&timestamp=1542793017"
            alt="">
        </ion-card>
      </ion-col>

      <ion-col size="9" class="mt-2">
        <ion-grid>
          <ion-row>
            <ion-col size="12" class="ion-no-padding mb-2">
              <ion-text style="font-weight: 700; font-size: 18px;">Protocolos COVID-19</ion-text>
            </ion-col>
            <ion-col size="12" class="ion-no-padding">
              <ion-text style="font-size: 16px;">Salud</ion-text>
            </ion-col>

            <ion-col size="12" class="ion-no-padding">
              <ion-item class="ion-no-padding">
                <ion-text style="font-size: 16px; opacity: 50%;">Mira estas recomendaciones</ion-text>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>