.tab-bar {
  width: 100%;
  background-color: #D90000;
  color: white;

  .sinaprobar {
    float: left;
    background-color: #d90000;
    color: white;
    height: 100%;
    width: 100%;
    font-size: 14px;
  }

  .aprobados {
    float: left;
    background-color: #d90000;
    color: white;
    height: 100%;
    width: 100%;
    font-size: 14px;
  }
}
