<ion-header class="ion-no-border">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="stepper">
    <img class="img" src="/assets/img/crear-cuenta/crearCuentaVerificacion.png">
  </div>

  <div id="container">
    <div style="margin-top: 10px;">
      <img src="/assets/img/splash/imgCrearPassword.png">
    </div>
  
    <div class="listo">
      ¡Listo! Ya creaste tu cuenta
    </div>
    <div class="textoAcceso">
      Ahora el club tiene que darte el alta
      <br>      
      para que puedas acceder a todo los
      <br>
      beneficios
    </div>
    <ion-button class="ion-margin btnSiguiente" color="ligth" (click)="siguiente()" size="large" expand="block">IR A MI PERFIL</ion-button>
  </div>
 
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <img routerLink="/login" src="/assets/img/splash/logoProClubFondoV.png">
  </ion-toolbar>
</ion-footer>