.redes-pupop {
    background: #222428;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.112);
    border-radius: 0px 0px 16px 16px;
}

.image-center {
    margin: 0 auto;
    background: white;
}

.titulo-club {
    color: white;
    margin: 0em !important;
}

.redes-toggle {
    height: 20px;
    width: 20px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 6px;
}

.titulo-toggle {
    color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 2px;
}

.fab-button-social {
    width: 30px;
    height: 30px;
}