<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
</ion-header>

<ion-content>
  <ion-toolbar class="toolbar-text">
    <span><b>Revisá la encuesta y enviar</b></span>
  </ion-toolbar>

  <ion-toolbar class="toolbar-text">
    <div class="text-container">
      <span >Titulo y descripción ></span>
      <span>Preguntas ></span>
      <span>Destinatarios ></span>
      <span class="span-1">Enviar</span>
    </div>
  </ion-toolbar>

  <ion-toolbar class="toolbar-input">

    <ion-list>
      <ion-item>
        <ion-label>{{ titulo }}</ion-label>
        <ion-label>{{ descripcion }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ pregunta }}</ion-label>
        <ion-label>{{ opcion }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Destinatarios</ion-label>
      </ion-item>
      <ion-item *ngFor="let destinatario of destinatarios">
        <ion-label>{{ destinatario.usuario.rol }} > {{ destinatario.club.nombre }} > {{ destinatario.disciplina.nombre }}</ion-label>
      </ion-item>
    </ion-list>

    <ion-button  class="ion-margin btn-holder" color="ligth"  size="large" expand="block">ENVIAR</ion-button>
   
 

  </ion-toolbar>

</ion-content>

