<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
</ion-header>


<ion-content>

  <ion-toolbar class="toolbar-text">
    <ion-text class="notificacion-text">Escribir notificación</ion-text>

    <ion-grid>
      <ion-row>
        <span class="span-1">Titulo y descripción ></span>
        <span>Destinatarios ></span>
        <span>Enviar</span>
      </ion-row>
    </ion-grid>
  </ion-toolbar>


  <form [formGroup]="form" (ngSubmit)="siguiente()">
    <ion-item>
      <ion-input formControlName="titulo" type="text" placeholder="Titulo de la notificación" style="font-size: 18px;">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="descripcion" type="text" placeholder="Descripción" style="font-size: 18px;">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-select interface="action-sheet" formControlName="dirigir" placeholder="Dirigir notificación a:"
        style="font-size: 18px; width: 100%;">
        <ion-select-option>user 1</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button type="submit" [disabled]="form.invalid" class="btn-holder" color="ligth" size="large" expand="block">
      CONTINUAR</ion-button>

  </form>

</ion-content>